body {
    background: url("../img/green.jpg") #3cc310cc;
    background-size: cover;
    background-blend-mode: overlay;
}

article {
    background-color: #00000000;
}

.article_mitte {
    margin-top: 12%;
}

.projectHead {
    text-align: center;
}

.projectHead > span {
    font-size: 90px;
    vertical-align: bottom;
    text-decoration: overline;
    font-family: 'Yatra One', cursive;
}

.projectHead > img {
    text-align: center;
    height: 130px;
    margin-bottom: 15px;
}

article a:link, article a:visited {
    color: #0E0E0E;
}